<div class="example-container">
	<mat-grid-list cols="3">
		<mat-grid-tile></mat-grid-tile>
		<mat-grid-tile>
			<div>
				<mat-form-field class="example-full-width">
					<input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="email">
					<mat-hint>Enter your email</mat-hint>
					<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
						Please enter a valid email address
					</mat-error>
					<mat-error *ngIf="emailFormControl.hasError('required')">
						Email is <strong>required</strong>
					</mat-error>
				</mat-form-field>

				<mat-form-field>
					<input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" [(ngModel)]="password">
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					<mat-hint>Please enter password</mat-hint>
					<mat-error *ngIf="passwordFormControl.hasError('required')">
						Password is <strong>required</strong>
					</mat-error>
				</mat-form-field>

				<div class="spacer">
					<button type="submit" (click)="Login()">Login</button>
				</div>
			</div>
		</mat-grid-tile>
		<mat-grid-tile></mat-grid-tile>
	</mat-grid-list>

</div>